<!-- CUSTOMER ORDER PAGE COMPONENT 
    WORK BY- NITHYA S-->

    <app-customerside></app-customerside>
    <h1> PLACE YOUR ORDER HERE!</h1>
    <div class="container">
      <div class="product-container">
        <div class="product-image">
          <img [src]="selectedProduct?.image" alt="Product Image">
        </div>
        <!-- Product details are added -->
        <div class="product-details" *ngIf="selectedProduct">
          <h2>Product Details</h2>
          <p><strong>Name:</strong> {{ selectedProduct.name }}</p>
          <p><strong>Price:</strong> {{ selectedProduct.price }}</p>
          <p><strong>Description:</strong>A Memorable gift you can give your loved ones</p>
        </div>
      </div>
      <!-- Place order form to get the user details -->
      <div class="order-form">
        <form [formGroup]="orderForm" (ngSubmit)="placeOrder()">
          <h2 style="color: rgb(0, 251, 217); font-family:cursive;">Enter your details to Proceed!</h2>
          <div class="form-group">
            <label for="enterName">Name<span class="required">*</span></label>
            <input type="text" id="enterName" formControlName="orderName" required placeholder="Enter your name">
          </div>
    
          <div class="mb-3">
            <label for="enterDate">Order Date: </label>
            <input type="date" id="enterDate" placeholder="Enter the Date" formControlName="orderDate" class="form-control">
          </div>
          
          <div class="form-group">
            <label for="enterAddress">Address<span class="required">*</span></label>
            <input type="text" id="enterAddress" formControlName="orderAddress" required placeholder="Enter your Address">
          </div>
          <div class="form-group">
            <label for="enterPhoneNo">Phone Number<span class="required">*</span></label>
            <input type="tel" id="enterPhoneNo" formControlName="orderPhone" required placeholder="Enter your phone number">
          </div>
          <div class="form-group">
            <label for="enterEmail">Email<span class="required">*</span></label>
            <input type="email" id="enterEmail" formControlName="orderEmail" required placeholder="Enter your email">
          </div>
          <div class="form-group">
            <label for="orderPrice">Order Price<span class="required">*</span></label>
            <input type="text" id="orderPrice" formControlName="orderPrice" required placeholder="Enter the order price">
          </div>
    
          <div class="form-group">
            <label for="selectGiftModel">Gift Model<span class="required">*</span></label>
            <input type="text" id="selectGiftModel" formControlName="selectGiftModel" required placeholder="Enter the Gift Model">
          </div>
    
          <div class="form-group">
            <label for="orderDescription">Order Description</label>
            <input type="text" id="orderDescription" formControlName="orderDescription" placeholder="Enter the Order Description">
          </div>
          <div class="form-group">
            <label for="selectThemeModel">Select the Theme Model<span class="required">*</span></label>
            <select id="selectThemeModel" name="selectThemeModel" formControlName="selectThemeModel" required>
              <option value="Default">Default</option>
              <option value="PhotoDesign">Photo design 200</option>
              <option value="Pattern">Pattern 100</option>
              <option value="FacePattern">Face Pattern 150</option>
              <option value="FrameDesign">Frame design 300</option>
            </select>
          </div>
    
          <div class="placeOrder-button">
            <button type="submit">Place Order</button>
          </div>
        </form>
      </div>
    </div>
    