<div class="main" style="background-image: url('../../assets/image/Background.jpg');
width:1349px;
height:700px;
background-position:center; 
background-size: cover">
<div class="head">
    <nav class="navbar navbar-dark">
        <a class="navbar-brand fa fa-camera" [routerLink]="['/admin']" id="admin"><b>Photoshop</b></a>
        <a class="navbar-brand fa fa-home" [routerLink]="['/admin']">Home</a>
        <a class="navbar-brand fa fa-gift" [routerLink]="['/addgifts']" id="adminGifts">Gifts</a>
        <a class="navbar-brand fa fa-search" [routerLink]="['/theme']" id="adminThemes">Themes</a>
        <a class="navbar-brand fa fa-comments" [routerLink]="['/admin-review']">Customers Feedback</a>
        <a class="navbar-brand fa fa-shopping-cart" [routerLink]="['/order']" id="adminOrders">Orders</a>
        <a class="navbar-brand" href="#" (click)="logout()">Logout</a>
  </nav>
    </div>
    <div class="col-md-12 mt-8 mb-4" id="divi">
        <div class="searchbar">
            <input class="form-control" type="text" autocomplete="off" 
            placeholder="&#61442;find me here">
        </div></div>
        <br><br><br>
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-plain" style="background: transparent; backdrop-filter: blur(5px); color: black;">
                          <div class="card card-nav-tabs">
                              <div class="card-header">
                                <div class="text-center" ><h3><u>CUSTOMERS FEEDBACK</u></h3></div>
                              </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class="table-head">
                                            <th>
                                            S.No
                                            </th>
                                            <th>
                                                Customer Name
                                            </th>
                                            <th>
                                             Product Name
                                            </th>
                                            <th>
                                                Customers Feedback
                                            </th>
                                            <th>
                                                Ratings
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of listdata;let i =index">
                                                <td><span>{{i+1}}</span></td>
                                                <td><span>{{item.customerName}}</span></td>
                                                <td><span>{{item.productName}}</span></td>
                                                <td><span>{{item.customerFeedBack}}</span></td>
                                                <td><span><app-star-rating [rating]="item.ratings"></app-star-rating></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>          
        </div>
        