.searchbar{
    float:right;
    width:25%;
  }
  .navbar{
    background-color: #D4AF37;
  }
  ngb-rating {
    color: #020202;
    font-size: 20px;
  }
  #divi{
    margin-left: auto;
    margin-right: auto;
    padding-top:10px;
  }
  /*.table{
    color: #D4AF37;
  }*/
  