<!-- VIEW PAGE COMPONENT IS TO DISPLAY FILTERED PRODUCTS BASED ON 
    1.OCCASSION or
    2.RECIPIENT or
    3.GIFT FINDER CONDITIONS -->


    <div *ngIf="type === 'occasion'">
      <div>
          <div class="dashboard-heading">
              <div class="line"></div>
              <h1 class="heading">Products for occasions</h1>
              <div class="line"></div> 
            </div>
        <section class="products">
        <div class="product" *ngFor="let product of products">
          <img [src]="product.giftImageUrl" [alt]="product.giftName">
          <h2>{{ product.giftName }}</h2>
          <p>Rs.{{ product.giftPrice }}</p>
          <div>
            <span class="star-rating" *ngFor="let star of getFilledStars(product.rating)">&#9733;</span>
            <span class="empty-star" *ngFor="let star of getEmptyStars(product.rating)">&#9733;</span>
          </div>
            <br>
          <button (click)="addToCart()">Add to Cart</button> </div>
        </section>
      </div>
    </div>
    
    
    <div *ngIf="type === 'giftfinder'">
        <div class="dashboard-heading">
            <div class="line"></div>
            <h1 class="heading">Some gifts of your choice!!</h1>
            <div class="line"></div> 
          </div>
       <section class="products">
          <div class="product" *ngFor="let product of gifts">
            <img [src]="product.giftImage" [alt]="product.giftName">
            <h2>{{ product.giftName }}</h2>
            <p>Rs.{{ product.giftPrice }}</p>
            <div>
              <span class="star-rating" *ngFor="let star of getFilledStars(product.rating)">&#9733;</span>
              <span class="empty-star" *ngFor="let star of getEmptyStars(product.rating)">&#9733;</span>
            </div>
              <br>
            <button (click)="addToCart()">Add to Cart</button> 
          </div>
        </section> 
        </div>
    
        <div *ngIf="type === 'recipient'">
          <div>
            <div class="dashboard-heading">
              <div class="line"></div>
              <h1 class="heading">Products for Recipient</h1>
              <div class="line"></div> 
            </div>
            <section class="products">
            <div class="product" *ngFor="let product of products">
              <img [src]="product.giftImageUrl" [alt]="product.name">
              <h2>{{ product.giftName }}</h2>
              <p>Rs.{{ product.giftPrice }}</p>
              <div>
                <span class="star-rating" *ngFor="let star of getFilledStars(product.rating)">&#9733;</span>
                <span class="empty-star" *ngFor="let star of getEmptyStars(product.rating)">&#9733;</span>
              </div>
                <br>
              <button (click)="addToCart()">Add to Cart</button> </div>
            </section>
          </div>
        </div>
    