<section style="display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
width: 100%;
background: #00ff00; 
background: url('assets/image/user.jpg')no-repeat; 
background-position: center;
background-size: cover;">
    
    <div class="dropdown">
        <button class="dropbtn">User</button>
        <div class="dropdown-content">
          <a href="#">User</a>
          <a href="#">Admin</a>
        </div>
      </div>
    <div class="form-box">
        <div class="form-value">
            <form (submit)="loginUser()" name="LoginForm">
                <h2>Login</h2>
                <p id="result">{{ errorMessage }}</p>
                <div class="inputbox">
                    <input type="email" [(ngModel)]="loginData.email" name="email" [ngModelOptions]="{standalone: true}" required>
                    <label for="">Email</label>
                </div>
                <div class="inputbox">
                    <input type="password" [(ngModel)]="loginData.password" name="password" [ngModelOptions]="{standalone: true}" required>
                    <label for="">Password</label>
                </div>

                <!-- <div class="forget">
                    <label for=""><input type="checkbox">Remember Me &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#">Forget Pssword</a></label>
                    
        
                </div> -->
                <button type="submit">Log in</button>
                <div class="register">
                    <p>Don't have an account? <a [routerLink]="['/signup']">Register</a></p>
                </div>
            </form>
        </div>
    </div>
</section>