<section>
    <div class="dropdown">
        <button class="dropbtn">User</button>
        <div class="dropdown-content">
          <a href="#">User</a>
          <a href="#">Admin</a>
        </div>
      </div>
    <div class="form-box">
        <div class="form-value">
            <form action="">
                <h2>Login</h2>
                <div class="inputbox">
                    <input type="email" required>
                    <label for="">Email</label>
                </div>
                <div class="inputbox">
                    <input type="password" required>
                    <label for="">Password</label>
                </div>

                <div class="forget">
                    <label for=""><input type="checkbox">Remember Me &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#">Forget Pssword</a></label>
                    
        
                </div>
                <button><a [routerLink]="['/userhomepage']">Log in</a></button>
                <div class="register">
                    <p>Don't have an account? <a [routerLink]="['/signup']">Register</a></p>
                </div>
            </form>
        </div>
    </div>
</section>