.my-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    background-color: #000;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .button-container {
    display: flex;
    justify-content: left;
    gap: 10px;}
    .navbar{
      /* background-color: #008080;*/
      background-color: #D4AF37;
     }