<app-customerside></app-customerside>
<h1>Order List</h1>
<section style="display: flex;
align-items: center;
min-height: 100vh;
width: 100%;

background: url('assets/image/user.jpg')no-repeat; 
background-position: center;
background-size: cover;">
<div class="container center">
    <table id="order">
        <thead>
            <tr>
            <th id="product">Product</th>
            <th id="productName">Product Name</th>
            <th id="productPrice">Price</th>
            <th id="action">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items; let i = index">
                <td>{{i+1}}</td>
                <td>{{item.orderName}}</td>
                <td>{{item.orderPrice}}</td>
                <td>
                    <button class="btn btn-danger" (click)="editProduct(item.orderId)">Edit</button>
                    <button class="btn btn-danger"  (click)="deleteProduct(item.orderId)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="payment-button">
        <button (click)="payment()">Payment</button>
    </div>
</div>
</section>