
form div {
  margin-bottom: 60px;
}
.header {
  background-color: #e09f07; 
  padding: 10px; 
}

h1 {
    text-align: center;
    color: #fcf7f7;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 150%;
  padding: 20px;
}

button {
  padding: 10px 20px;
  background-color: #e09f07;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #855f08;
}

.stars {
  display: flex;
  align-items: left;
  justify-content: left;
  margin-bottom: 10px;
  flex-direction: row-reverse;
}

.stars input[type="radio"] {
  display: none;
}

.stars label {
  cursor: pointer;
  color: #ccc;
  margin-right: 5px;
}

.stars label:before {
  content: "\2605";
  font-size: 50px;
}

.stars input[type="radio"]:checked ~ label {
  color: #e09f07;
}


.review-container {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-top: 60px;
  
  
}
.bg-image{
  background-image: url('https://images.unsplash.com/photo-1512418490979-92798cec1380?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGdpZnQlMjBzaG9wfGVufDB8fDB8fHww&w=1000&q=80');
  background-size: 100% 100%;
  background-position: center;
  
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}


.review-box textarea {
  width: 150%;
  height: 150px;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  font-family: Arial, sans-serif; /* Change the font family */
}
.error{
  color: red
}