<div *ngIf="openEdit == false">
  <nav class="navbar navbar-dark navbar-custom">
    <a class="navbar-brand fa fa-camera" [routerLink]="['/admin']" id="admin"><b>Photoshop</b></a>
    <a class="navbar-brand fa fa-home" [routerLink]="['/admin']">Home</a>
    <a class="navbar-brand fa fa-gift" [routerLink]="['/addgifts']" id="adminGifts">Gifts</a>
    <a class="navbar-brand fa fa-search" [routerLink]="['/theme']" id="adminThemes">Themes</a>
    <a class="navbar-brand fa fa-comments" [routerLink]="['/admin-review']">Customers Feedback</a>
    <a class="navbar-brand fa fa-shopping-cart" [routerLink]="['/order']" id="adminOrders">Orders</a>
    <a class="navbar-brand" href="#" (click)="logout()">Logout</a>
</nav>
  
    <nav class="navbar navbar-dark bg-light">
      <div class="w-50">
        <form class="d-flex">
          <input class="form-control" type="search" [(ngModel)]="searchText" name="searchText"
            placeholder="Type here to search theme">
        </form>
      </div>
    </nav>
  
  
    <div class="col-md-8 mt-4 mb-2">
      <table class="table table-borderless">
  
        <thead *ngFor="let theme of themeDetails | customFilter:searchText;let i =index" id=themeGrid{{i+1}}>
          <tr>
            <th>Theme Name : </th>
            <td>
              {{theme.themeName}}
            </td>
            <td><button type="button" class="btn btn-dark" (click)="onBtnClick(theme)"><i class="fa fa-edit"
                  id="editTheme"></i></button></td>
          </tr>
  
          <tr>
            <th>Theme Price : </th>
            <td>
              {{theme.themePrice}}
            </td>
            <td><button type="button" class="btn btn-dark" (click)="deleteTheme(theme)"><i class="fa fa-trash-o"
                  id="deleteTheme"></i></button></td>
          </tr>
          <tr>
            <th>Theme Description : </th>
            <td>
              {{theme.themeDescription}}
            </td>
            <td>
  
            </td>
          </tr>
          <p>
  
          </p>
        </thead>
  
      </table>
    </div>
  
  
  
    <div class="card">
  
      <form #addForm="ngForm" (ngSubmit)="add(addForm)">
        <div class="mt-5 box">
          <div class="form-row">
            <div class="col-md-12">
              <div class="form-group mt-3">
                <h1>Add Theme</h1>
                <label for="themeName">Theme Name : </label>
                <input type="text" #themeName (ngModel)="themeName" name="themeName" id="enterThemeName"
                  placeholder="Enter the theme name" class="form-control">
              </div>
            </div>
  
            <div class="col-md-12">
              <div class="form-group mt-2">
                <label for="themePrice">Theme Price : </label>
                <input type="number" #themePrice (ngModel)="themePrice" name="themePrice" id="enterThemePrice"
                  placeholder="Enter the theme price" class="form-control">
              </div>
            </div>
  
            <div class="col-md-12">
              <div class="form-group mt-2">
                <label for="themeDescription">Theme Description : </label>
                <input type="text" #themeDescription (ngModel)="themeDescription" name="themeDescription"
                  id="enterThemeDescription" placeholder="Enter the theme Description" class="form-control">
              </div>
            </div>
  
            <div class="form-group mt-3">
              <div class="cen">
                <input type="submit" value="Add" class="btn btn-dark" id="add">
              </div>
            </div>
          </div>
        </div>
      </form>
  
    </div>
  
  
  </div>
  <app-edit *ngIf="openEdit" [themes]="themes" (editedThemes)="updatedTheme($event)"></app-edit>